# Dependency utama monorepo
node_modules/

# File environment & logs
.env
.env.*
*.log
npm-debug.log*

# Wrangler local secrets (Cloudflare Workers)
.dev.vars

# File sistem operasi
.DS_Store
Thumbs.db
